[submodule "QuestCease | 0Zhjk0ER4YZkNvWnT8N0"]
	path = QuestCease | 0Zhjk0ER4YZkNvWnT8N0
	url = https://github.com/phisham/Quest-cease-Github-api
[submodule "AFK | 1lSVxwjmmrX2WUWG073N"]
	path = AFK | 1lSVxwjmmrX2WUWG073N
	url = https://github.com/fiza2671/HackNight
[submodule "codeBuddies | 2nM0mst6QoLA0l9KT9cG"]
	path = codeBuddies | 2nM0mst6QoLA0l9KT9cG
	url = https://github.com/nikiljos/shn-github-api
[submodule "PiemonteCodecio | 3edNw4BqnWra24d7oDOW"]
	path = PiemonteCodecio | 3edNw4BqnWra24d7oDOW
	url = https://github.com/fausan123/hacknight_githubapi
[submodule "Anonymous | 63VuQ4gcjJVEgSIXARis"]
	path = Anonymous | 63VuQ4gcjJVEgSIXARis
	url = https://github.com/godwin0805/Sathacknit
[submodule "NiteHacks | 6NCE4yu03rYseT55ZyfQ"]
	path = NiteHacks | 6NCE4yu03rYseT55ZyfQ
	url = https://github.com/ChethanaPradeep/HackNightGitAPI
[submodule "qwerty | 6YUbmkUlltjRyDKNxtXC"]
	path = qwerty | 6YUbmkUlltjRyDKNxtXC
	url = https://github.com/aaadddiii/CV-Maker
[submodule "CodeHeist | B5DS97s476JY27qWX22Z"]
	path = CodeHeist | B5DS97s476JY27qWX22Z
	url = https://github.com/CLiz17/code_heist
[submodule "GITNCHILL | BAJGQHP5voR7RoUaFiRj"]
	path = GITNCHILL | BAJGQHP5voR7RoUaFiRj
	url = https://github.com/ireneelizabethsabu/cv-generator.git
[submodule "Callisto | Eyjj8oaLeqNPV5rcwAva"]
	path = Callisto | Eyjj8oaLeqNPV5rcwAva
	url = https://github.com/darshanchaithram/saturdayhack1
[submodule "Orion | FHRBg8WxeE0dZ7fyX2cK"]
	path = Orion | FHRBg8WxeE0dZ7fyX2cK
	url = https://github.com/Abhijith-K-S/CV-Maker
[submodule "CodeBuddies | FxyBsqeDJrPxnc4siXpl"]
	path = CodeBuddies | FxyBsqeDJrPxnc4siXpl
	url = https://github.com/arjun-ms/Sat-Hack-Night
[submodule "Team45 | HAbhWpGnpg73R6DrQQDf"]
	path = Team45 | HAbhWpGnpg73R6DrQQDf
	url = https://github.com/harshalbabu/tinkerhubhacknight
[submodule "SyntaxError | HC4BJsUSxGV77X7ornNK"]
	path = SyntaxError | HC4BJsUSxGV77X7ornNK
	url = https://github.com/diina7/Saturday-Hack-Night-GitHub-API
[submodule "xDev | Mu2UyH2vLxKf8heRk51G"]
	path = xDev | Mu2UyH2vLxKf8heRk51G
	url = https://github.com/hashirpm/github-resume
[submodule "404error | RSCOoUB7yWDUXDJN1jco"]
	path = 404error | RSCOoUB7yWDUXDJN1jco
	url = https://github.com/Asher-MS/hacknight_github
[submodule "Cornettos | UkrrpixkfINQbd7R5Pcv"]
	path = Cornettos | UkrrpixkfINQbd7R5Pcv
	url = https://github.com/javedhamdan107/hackernight
