[submodule "QuestCease | 0Zhjk0ER4YZkNvWnT8N0"]
	path = QuestCease | 0Zhjk0ER4YZkNvWnT8N0
	url = https://github.com/phisham/Quest-cease-Github-api
[submodule "AFK | 1lSVxwjmmrX2WUWG073N"]
	path = AFK | 1lSVxwjmmrX2WUWG073N
	url = https://github.com/fiza2671/HackNight
[submodule "codeBuddies | 2nM0mst6QoLA0l9KT9cG"]
	path = codeBuddies | 2nM0mst6QoLA0l9KT9cG
	url = https://github.com/nikiljos/shn-github-api
