[submodule "QuestCease | 0Zhjk0ER4YZkNvWnT8N0"]
	path = QuestCease | 0Zhjk0ER4YZkNvWnT8N0
	url = https://github.com/phisham/Quest-cease-Github-api
[submodule "AFK | 1lSVxwjmmrX2WUWG073N"]
	path = AFK | 1lSVxwjmmrX2WUWG073N
	url = https://github.com/fiza2671/HackNight
[submodule "codeBuddies | 2nM0mst6QoLA0l9KT9cG"]
	path = codeBuddies | 2nM0mst6QoLA0l9KT9cG
	url = https://github.com/nikiljos/shn-github-api
[submodule "PiemonteCodecio | 3edNw4BqnWra24d7oDOW"]
	path = PiemonteCodecio | 3edNw4BqnWra24d7oDOW
	url = https://github.com/fausan123/hacknight_githubapi
[submodule "Anonymous | 63VuQ4gcjJVEgSIXARis"]
	path = Anonymous | 63VuQ4gcjJVEgSIXARis
	url = https://github.com/godwin0805/Sathacknit
[submodule "NiteHacks | 6NCE4yu03rYseT55ZyfQ"]
	path = NiteHacks | 6NCE4yu03rYseT55ZyfQ
	url = https://github.com/ChethanaPradeep/HackNightGitAPI
[submodule "qwerty | 6YUbmkUlltjRyDKNxtXC"]
	path = qwerty | 6YUbmkUlltjRyDKNxtXC
	url = https://github.com/aaadddiii/CV-Maker
[submodule "CodeHeist | B5DS97s476JY27qWX22Z"]
	path = CodeHeist | B5DS97s476JY27qWX22Z
	url = https://github.com/CLiz17/code_heist
[submodule "GITNCHILL | BAJGQHP5voR7RoUaFiRj"]
	path = GITNCHILL | BAJGQHP5voR7RoUaFiRj
	url = https://github.com/ireneelizabethsabu/cv-generator.git
